# =========================
# Environment / Secrets
# =========================
.env
.env.*
!.env.example

# =========================
# Composer dependencies
# =========================
/vendor/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db
desktop.ini

# =========================
# Logs
# =========================
*.log

# =========================
# Temporary files
# =========================
*.tmp
*.temp
*.swp
*.swo